name: Publish and Release

on:
  push:
    branches:
      - main

env:
  NODE_VERSION: 18

jobs:
  release:
    runs-on: ubuntu-22.04 # latest(24.04.2)の場合、puppeteerのバージョンの関係でe2eテストに失敗してしまうため、一旦22.04にダウングレード
    name: Publish and Release
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
      - name: Prepare
        run: |
          npm ci
          npm run build
          npm test
      - name: Publish and Release
        uses: akashic-games/action-release@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          npm_token: ${{ secrets.NPM_TOKEN }}
